{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Task List App</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
</head>
<body>
    <div class="container-fluid" ng-app="TaskApp" ng-controller="TaskController">
        <div class="row">
            <div class="col-md-12" style="height: 50px;"></div>
        </div>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <form class="form-inline">
                    <div class="form-group mb-2">
                        Create Task:
                    </div>
                    <div class="form-group mx-sm-3 mb-2">
                        <input type="text" class="form-control" id="taskName"
                               placeholder="Task name" ng-model="taskName">
                    </div>
                    <button type="submit" class="btn btn-primary mb-2" ng-click="createTask()">
                        Submit
                    </button>
                </form>
            </div>
            <div class="col-md-2"></div>
        </div>
        <div class="row" style="padding-top: 10px;">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                {% verbatim tableblock %}
                <table class="table">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col" style="width: 5%;">#</th>
                        <th scope="col" style="width: 50%;">Name</th>
                        <th scope="col" style="width: 10%;">Completed?</th>
                        <th scope="col" style="width: 35%;">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="task in tasks">
                        <th scope="row">{{ task.id }}</th>
                        <td>
                            <div ng-if="!task.edit">{{ task.name }}</div>
                            <div ng-if="task.edit">
                                <form class="form-inline">
                                    <div class="form-group form-group-sm mx-sm-3 mb-2">
                                        <input type="text" class="form-control form-control-sm" ng-model="task.name">
                                    </div>
                                    <button type="submit" class="btn btn-primary btn-sm mb-2" ng-click="finishEditTask(task)">
                                        Save
                                    </button>
                                </form>
                            </div>
                        </td>
                        <td>{{ task.completed }}</td>
                        <td>
                            <a href="#" ng-if="task.completed" ng-click="completeTask(task, false)">
                                Mark Pending
                            </a>
                            <a href="#" ng-if="!task.completed" ng-click="completeTask(task, true)">
                                Mark Done
                            </a> |
                            <a href="#" ng-click="editTask(task)">Edit</a> |
                            <a href="#" ng-click="deleteTask(task)">Delete</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
                {% endverbatim tableblock %}
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"
            crossorigin="anonymous"></script>
    <script src='{% static "task_frontend/app.js" %}'></script>
</body>
</html>